@-webkit-keyframes angelina-rotate {
  0% {
    transform: rotate(125deg); }
  100% {
    transform: rotate(485deg); } }
@-webkit-keyframes angelina-working {
  0% {
    transform: tranlateY(0); }
  25% {
    transform: translateY(-30px); }
  50% {
    transform: translateY(0); } }
@-webkit-keyframes angelina-question {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.1); }
  40% {
    transform: scale(1); } }
@-webkit-keyframes angelina-ok {
  0% {
    right: 0; }
  100% {
    right: -100%; } }
@-webkit-keyframes angelina-error-first {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(45deg); } }
@-webkit-keyframes angelina-error-second {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-45deg); } }
#face {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  position: relative; }
  #face #outer-circle,
  #face #inner-circle {
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%; }
  #face #outer-circle {
    width: 300px;
    height: 300px;
    background: #2b1887;
    margin-top: -150px;
    margin-left: -150px; }
  #face #inner-circle {
    width: 258px;
    height: 258px;
    background: #FFF;
    margin-top: -129px;
    margin-left: -129px; }
  #face #space {
    width: 30px;
    height: 30px;
    background: #FFF;
    position: absolute;
    top: -3px;
    left: 50%;
    margin-left: -15px;
    transform-origin: 15px 153px;
    transform: rotate(125deg); }
  #face .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 258px;
    height: 258px;
    line-height: 258px;
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
    font-size: 210px;
    opacity: 0;
    transition: opacity 1s;
    color: #2b1887; }
    #face .content#content-working {
      line-height: 150px; }
      #face .content#content-working .working-dot {
        display: inline-block;
        -webkit-animation: angelina-working 1s infinite; }
        #face .content#content-working .working-dot#working-dot-one {
          -webkit-animation-delay: 0; }
        #face .content#content-working .working-dot#working-dot-two {
          -webkit-animation-delay: .25s; }
        #face .content#content-working .working-dot#working-dot-three {
          -webkit-animation-delay: .5s; }
    #face .content#content-question {
      -webkit-animation: angelina-question 1s infinite; }
    #face .content#content-locked {
      font-size: 170px; }
    #face .content#content-ok {
      font-size: 160px; }
      #face .content#content-ok span.fa-check {
        position: relative;
        display: inline-block;
        overflow: hidden;
        top: 24.99px; }
        #face .content#content-ok span.fa-check div.overlay {
          width: 100%;
          height: 100%;
          background: #FFF;
          position: absolute;
          top: 0;
          right: 0;
          transition: right 1s ease; }
    #face .content#content-error span {
      width: 180px;
      background: #2b1887;
      height: 34px;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -17px;
      left: 50%;
      margin-left: -90px;
      border-radius: 5px; }
  #face.action #space {
    -webkit-animation: angelina-rotate 1s 1; }
  #face.working .content#content-working {
    opacity: 1; }
  #face.ok #content-ok span.fa-check div.overlay {
    -webkit-animation: angelina-ok 1s 1;
    -webkit-animation-delay: 1s; }
  #face.error #content-error span {
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1; }
    #face.error #content-error span.first {
      -webkit-animation-name: angelina-error-first; }
    #face.error #content-error span.second {
      -webkit-animation-name: angelina-error-second; }
  #face.question .content#content-question {
    opacity: 1; }
  #face.ok #content-ok span.fa-check div.overlay {
    -webkit-animation: angelina-ok 1s 1;
    -webkit-animation-delay: 1s; }
  #face.error #content-error span {
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1; }
    #face.error #content-error span.first {
      -webkit-animation-name: angelina-error-first; }
    #face.error #content-error span.second {
      -webkit-animation-name: angelina-error-second; }
  #face.locked .content#content-locked {
    opacity: 1; }
  #face.ok #content-ok span.fa-check div.overlay {
    -webkit-animation: angelina-ok 1s 1;
    -webkit-animation-delay: 1s; }
  #face.error #content-error span {
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1; }
    #face.error #content-error span.first {
      -webkit-animation-name: angelina-error-first; }
    #face.error #content-error span.second {
      -webkit-animation-name: angelina-error-second; }
  #face.ok .content#content-ok {
    opacity: 1; }
  #face.ok #content-ok span.fa-check div.overlay {
    -webkit-animation: angelina-ok 1s 1;
    -webkit-animation-delay: 1s; }
  #face.error #content-error span {
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1; }
    #face.error #content-error span.first {
      -webkit-animation-name: angelina-error-first; }
    #face.error #content-error span.second {
      -webkit-animation-name: angelina-error-second; }
  #face.error .content#content-error {
    opacity: 1; }
  #face.ok #content-ok span.fa-check div.overlay {
    -webkit-animation: angelina-ok 1s 1;
    -webkit-animation-delay: 1s; }
  #face.error #content-error span {
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1; }
    #face.error #content-error span.first {
      -webkit-animation-name: angelina-error-first; }
    #face.error #content-error span.second {
      -webkit-animation-name: angelina-error-second; }
